.page-type {
    padding: 15px 0;
    border-bottom: 1px solid #e8e8e8;
}

.page-type .container,
.about-us .container,
.repair-selected-object .container {
    width: 755px;
}

.page-type .container a {
    margin-right: 26px;
    padding: 7px;
    color: #333333;
    font-size: 20px;
    font-family: "Next Art Bold", sans-serif;
    letter-spacing: 0.045em;
    text-decoration: none;
}

.page-type .container a:last-child {
    margin-right: 0;
}

.page-type .container .active-page-type {
    color: #fff;
    background-color: #363941;
}

.page-type .container a:hover {
    background-color: #ededed;
}

.about-us {
    padding: 60px 0 90px;
}

.about-us .about-us-preface p,
.about-us .we-leave-on-quality p {
    padding-bottom: 30px;
}

.about-us .about-us-preface p:nth-child(3) {
    padding-bottom: 65px;
}

.about-us .img-rectangle {
    position: relative;
}

.about-us .img-rectangle img {
    width: 100%;
}

.about-us .img-rectangle::after,
.about-us .quote::after,
.repair-selected-object .house-cut::after,
.repair-selected-object .quote::after {
    position: absolute;
    display: block;
    content: '';
    width: 310px;
    height: 310px;
    border: 17px solid #ededed;
    box-sizing: border-box;
    z-index: -1;
}

.about-us .img-rectangle::after {
    top: 20px;
    right: -46px;
}

.about-us .quality-repair {
    padding: 110px 85px 65px 95px;
}

.about-us .quality-repair h2,
.repair-selected-object .repair-solutions h2 {
    position: relative;
    font-family: "Next Art Bold", sans-serif;
    font-size: 36px;
    line-height: 34px;
    color: #333333;
    text-transform: uppercase;
}

.about-us .quality-repair h2::before,
.repair-selected-object .repair-solutions h2::before {
    position: absolute;
    left: -98px;
    display: block;
    content: '';
    width: 68px;
    height: 68px;
    background-color: #d5d8df;
}

.about-us .quality-repair hr,
.repair-selected-object .repair-solutions hr {
    display: block;
    width: 111px;
    height: 1px;
    margin: 35px 0 45px;
    border: none;
    background-color: #000000;
}

.about-us .quality-repair ul {
    padding-top: 35px;
}


.about-us .quality-repair ul li,
.about-us .who-does .img-ul ul li,
.about-us .quality .ul-img ul li,
.about-us .criteria .img-ul ul li,
.about-us .we-leave-on-quality ul li,
.repair-selected-object ul li {
    position: relative;
    padding: 0 0 15px 56px;
    list-style: none;
    line-height: 20px;
}

.about-us .quality-repair ul li:last-child,
.about-us .who-does .img-ul ul li:last-child,
.about-us .quality .ul-img ul li:last-child,
.about-us .criteria .img-ul ul li:last-child,
.about-us .we-leave-on-quality ul li:last-child,
.repair-selected-object ul li:last-child {
    padding-bottom: 0;
}

.about-us .quality-repair ul li::before,
.about-us .who-does .img-ul ul li::before,
.about-us .quality .ul-img ul li::before,
.about-us .criteria .img-ul ul li::before,
.about-us .we-leave-on-quality ul li::before,
.repair-selected-object ul li::before {
    position: absolute;
    left: 0px;
    display: block;
    content: '';
    width: 36px;
    height: 36px;
    background-image: url(../img/list-check.png);
}

.about-us .quote,
.repair-selected-object .quote {
    position: relative;
    padding: 75px 60px;
    background-color: #5d6270;
}

.about-us .quote p,
.repair-selected-object .quote p {
    font-weight: bold;
    font-size: 36px;
    color: #fff;
    line-height: 48px;
}

.about-us .quote::after {
    top: -38px;
    right: -46px;
}

.about-us .who-does {
    padding: 130px 0 45px;
}

.about-us .who-does h3,
.about-us .quality h3,
.about-us .criteria h3,
.about-us .we-leave-on-quality h3 {
    padding-bottom: 35px;
    color: #0d0d0d;
    font-size: 28px;
    line-height: 30px;
    font-family: "Next Art Bold", sans-serif;
}

.about-us .who-does p,
.about-us .we-leave-on-quality p {
    line-height: 26px;
}

.about-us .who-does p span,
.about-us .we-leave-on-quality p span {
    font-weight: bold;
}

.about-us .who-does .img-ul,
.about-us .quality .ul-img,
.about-us .criteria .img-ul {
    display: flex;
    align-items: center;
    padding: 45px 0 40px;
}

.about-us .who-does .img-ul ul {
    padding-left: 80px;
}

.about-us .who-does .img-ul ul li,
.about-us .criteria .img-ul ul li {
    padding-bottom: 22px;
}

.about-us .who-does .img-ul ul li::before,
.about-us .criteria .img-ul ul li::before {
    top: -6px;
}

.about-us .who-does hr {
    display: block;
    width: 100%;
    height: 1px;
    border: none;
    background-color: #e2e2e2;
}

.about-us .who-does .first-hr {
    margin-bottom: 25px;
}

.about-us .who-does .second-hr {
    margin: 20px 0 40px;
}

.about-us .quote.recruit-teams {
    padding: 50px 60px;
    margin-bottom: 125px;
}

.about-us .quote.recruit-teams::after,
.about-us .quote.watching-the-teams::after,
.about-us .quote.main-criterion::after,
.about-us .quote.result::after {
    top: 23px;
}

.about-us .quality {
    position: relative;
    padding-bottom: 60px;
}

.about-us .quality .ul-img {
    padding-top: 0;
    align-items: flex-start;
}

.about-us .quality .ul-img ul {
    width: 500px;
    padding-left: 40px;
}

.about-us .quality .ul-img ul li span {
    font-weight: bold;
}

.about-us .quality .ul-img img {
    position: absolute;
    right: -45px;
}

.about-us .quality .ul-img ul li:nth-child(2) {
    padding-bottom: 30px;
}

.about-us .criteria {
    padding: 125px 0 80px;
}

.about-us .criteria .img-ul {
    padding: 35px 0 0;
}

.about-us .criteria .img-ul ul {
    padding-left: 35px;
}

.about-us .quote.main-criterion {
    padding: 100px 60px;
}

.contacts-service .contacts .contacts-footer-form-phone a,
.contacts-service .service a {
    margin-bottom: 0;
}

.about-us .we-leave-on-quality {
    padding: 130px 0 70px;
}

.about-us .we-leave-on-quality p:last-child {
    padding-bottom: 0;
}

.about-us .we-leave-on-quality ul {
    padding: 70px 0 0 100px;
}

.about-us .we-leave-on-quality ul li {
    padding-bottom: 30px;
}

.about-us .last-paragraph {
    padding-top: 90px;
}

.scheme-of-work {
    padding-bottom: 205px;
}

.form-callback {
    margin-top: -140px;
}

.form-callback .form-callback-container {
    box-shadow: none;
}

.contacts-service {
    margin-top: -230px;
    padding: 275px 0 45px;
    background-position: 50% 0px;
}

/* Адаптивность */

/* 768px - 992px */
@media screen and (max-width: 992px) {
    .page-type .container,
    .about-us .container,
    .repair-selected-object .container {
        width: 660px;
    }
    .page-type .container a {
        margin-right: 36px;
        font-size: 16px;
    }
    .about-us {
        padding: 35px 0 50px;
    }
    .about-us .about-us-preface p:nth-child(3) {
        padding-bottom: 40px;
    }
    .about-us .about-us-preface p,
    .about-us .we-leave-on-quality p {
        padding-bottom: 20px;
        font-size: 16px;
    }
    .about-us .img-rectangle::after {
        width: 270px;
        height: 270px;
        border: 15px solid #ededed;
    }
    .about-us .img-rectangle::after {
        right: -40px;
    }
    .about-us .quality-repair {
        padding: 50px 60px 60px 0px;
    }
    .about-us .quality-repair h2,
    .repair-selected-object .repair-solutions h2 {
        width: 280px;
        padding-bottom: 35px;
        font-size: 21px;
        line-height: 24px;
    }
    .about-us .quality-repair h2 br {
        display: none;
    }
    .about-us .quality-repair h2::before,
    .repair-selected-object .repair-solutions h2::before {
        top: 5px;
        left: -48px;
        width: 40px;
        height: 40px;
    }
    .about-us .quality-repair hr,
    .repair-selected-object .repair-solutions hr {
        display: none;
    }
    .about-us .quality-repair p {
        font-size: 16px;
    }
    .about-us .quality-repair ul {
        margin-left: 65px;
    }
    .about-us .quality-repair ul li,
    .about-us .who-does .img-ul ul li,
    .about-us .quality .ul-img ul li,
    .about-us .criteria .img-ul ul li,
    .about-us .we-leave-on-quality ul li {
        padding: 0 0 15px 35px;
        font-size: 16.17px;
        line-height: 16.17px;
    }
    .about-us .quality-repair ul li::before,
    .about-us .who-does .img-ul ul li::before,
    .about-us .quality .ul-img ul li::before,
    .about-us .criteria .img-ul ul li::before,
    .about-us .we-leave-on-quality ul li::before {
        width: 28px;
        height: 28px;
        background-size: contain;
    }
    .about-us .quote::after,
    .repair-selected-object .quote::after {
        width: 190px;
        height: 190px;
        border: 15px solid #ededed;
        top: -26px;
        right: -25px;
    }
    .about-us .quote {
        padding: 45px 95px 45px 55px;
    }
    .about-us .quote p {
        font-size: 24.66px;
        line-height: 31.7px;
    }
    .about-us .who-does {
        padding: 75px 0 60px;
    }
    .about-us .who-does p,
    .about-us .we-leave-on-quality p,
    .about-us .quality p,
    .about-us .criteria p,
    .about-us .last-paragraph {
        font-size: 16px;
        line-height: 18px;
    }
    .about-us .who-does .img-ul {
        padding: 30px 0 35px 60px;
    }
    .about-us .who-does .img-ul img {
        width: 255px;
    }
    .about-us .who-does .img-ul ul li {
        padding-bottom: 25px;
    }
    .about-us .who-does .first-hr {
        margin-bottom: 15px;
    }
    .about-us .who-does .second-hr {
        margin: 10px 0 25px;
    }
    .about-us .quote.recruit-teams {
        padding: 45px 55px;
        margin-bottom: 80px;
    }
    .about-us .quote p br {
        display: none;
    }
    .about-us .quote.recruit-teams::after,
    .about-us .quote.watching-the-teams::after,
    .about-us .quote.main-criterion::after,
    .about-us .quote.result::after {
        top: -25px;
    }
    .about-us .who-does h3,
    .about-us .quality h3,
    .about-us .criteria h3,
    .about-us .we-leave-on-quality h3 {
        font-size: 18px;
    }
    .about-us .quality .ul-img {
        padding-bottom: 25px;
    }
    .about-us .quality .ul-img ul {
        width: 400px;
        padding-left: 5px;
    }
    .about-us .quality .ul-img ul li {
        padding-bottom: 22px;
    }
    .about-us .quality .ul-img img {
        width: 210px;
        right: 0;
    }
    .about-us .quote.watching-the-teams {
        padding-right: 160px;
    }
    .about-us .criteria {
        padding: 75px 0 55px;
    }
    .about-us .criteria h3 {
        padding-bottom: 35px;
        line-height: 20px;
    }
    .about-us .criteria .img-ul {
        padding-left: 20px;
    }
    .about-us .criteria .img-ul img {
        width: 270px;
    }
    .about-us .criteria .img-ul ul li {
        padding-bottom: 25px;
    }
    .about-us .quote.main-criterion {
        padding: 65px 155px 55px 55px;
    }
    .about-us .we-leave-on-quality {
        padding: 75px 0 60px;
    }
    .about-us .we-leave-on-quality p {
        padding-bottom: 15px;
    }
    .about-us .we-leave-on-quality ul {
        padding: 25px 0 0 65px;
    }
    .about-us .quote.result {
        padding-right: 200px;
    }
    .about-us .last-paragraph {
        padding-top: 75px;
    }
    .scheme-of-work {
        padding-bottom: 140px;
    }
    .scheme-of-work .section-title {
        padding-bottom: 12px;
    }
    .scheme-of-work .section-hr {
        height: 2px;
    }
    .form-callback {
        margin-top: -105px;
    }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
    .page-title h1 {
        margin-left: 0;
    }
    .page-type .container,
    .about-us .container,
    .repair-selected-object .container {
        width: 90%;
    }
    .page-type .container a {
        margin-right: 26px;
        font-size: 12px;
    }
    .about-us {
        padding: 22px 0 10px;
    }
    .about-us .about-us-preface p,
    .about-us .we-leave-on-quality p {
        padding-bottom: 15px;
    }
    .about-us .about-us-preface p:nth-child(3) {
        padding-bottom: 25px;
    }
    .about-us .img-rectangle img {
        height: 105px;
        object-fit: cover;
    }
    .about-us .img-rectangle::after,
    .repair-selected-object .house-cut::after {
        top: 8px;
        right: -17px;
        width: 113px;
        height: 113px;
        border: 6px solid #ededed;
    }
    .about-us .quality-repair {
        padding: 70px 0 35px;
    }
    .about-us .quality-repair h2,
    .repair-selected-object .repair-solutions h2 {
        width: 100%;
        padding: 0 0 45px 35px;
    }
    .about-us .quality-repair h2::before,
    .repair-selected-object .repair-solutions h2::before {
        top: 0;
        left: -20px;
    }
    .about-us .quality-repair ul {
        margin-left: 5px;
    }
    .about-us .quote::after,
    .repair-selected-object .quote::after {
        width: 117px;
        height: 117px;
        border: 6px solid #ededed;
        top: -14px;
        right: -13px;
    }
    .about-us .quote {
        padding: 35px 40px 25px 30px;
    }
    .about-us .quote p {
        font-size: 16px;
        line-height: 20px;
    }
    .about-us .who-does {
        padding: 50px 0 40px;
    }
    .about-us .who-does h3,
    .about-us .quality h3,
    .about-us .criteria h3,
    .about-us .we-leave-on-quality h3 {
        font-size: 17px;
        line-height: 19px;
    }
    .about-us .who-does h3 {
        padding-bottom: 15px;
    }
    .about-us .who-does h3 br {
        display: none;
    }
    .about-us .who-does .img-ul,
    .about-us .criteria .img-ul {
        flex-wrap: wrap;
        padding: 20px 0;
    }
    .about-us .who-does .img-ul img,
    .about-us .quality .ul-img img,
    .about-us .criteria .img-ul img {
        width: 100%;
    }
    .about-us .who-does .img-ul ul {
        padding: 22px 0 0 5px;
    }
    .about-us .who-does .first-hr {
        margin-bottom: 10px;
    }
    .about-us .quote.recruit-teams {
        padding: 20px 30px;
        margin-bottom: 50px;
    }
    .about-us .quote.recruit-teams::after,
    .about-us .quote.watching-the-teams::after,
    .about-us .quote.main-criterion::after,
    .about-us .quote.result::after {
        top: -13px;
    }
    .about-us .quality {
        padding-bottom: 40px;
    }
    .about-us .quality .ul-img {
        flex-wrap: wrap;
        padding-bottom: 30px;
    }
    .about-us .quality .ul-img img {
        position: relative;
        order: 1;
    }
    .about-us .quality .ul-img ul {
        width: 100%;
        padding-top: 30px;
        order: 2;
    }
    .about-us .quote.watching-the-teams {
        padding: 30px 75px 30px 30px;
    }
    .about-us .quote p br {
        display: block;
    }
    .about-us .criteria {
        padding: 40px 0 45px;
    }
    .about-us .criteria h3 {
        padding-bottom: 15px;
    }
    .about-us .criteria .img-ul {
        padding: 15px 0 0;
    }
    .about-us .criteria .img-ul ul {
        padding: 40px 0 0 ;
    }
    .about-us .quote.main-criterion {
        padding: 20px 85px 30px 25px;
    }
    .about-us .we-leave-on-quality {
        padding: 45px 15px 20px 10px;
    }
    .about-us .we-leave-on-quality h3 {
        padding-bottom: 15px;
    }
    .about-us .we-leave-on-quality ul {
        padding: 15px 0 0 5px;
    }
    .about-us .quote.result {
        padding: 20px 30px;
    }
    .about-us .last-paragraph {
        display: none;
    }
    .scheme-of-work {
        padding-bottom: 65px;
    }
    .scheme-of-work-item p {
        font-size: 16px;
        line-height: 14px;
    }
    .contacts-service {
        margin-top: -350px;
        padding: 395px 0 45px;
    }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
    .page-type {
        padding-bottom: 0;
    }
    .page-type .container {
        display: flex;
        flex-wrap: wrap;
    }
    .page-type .container a {
        display: block;
        width: fit-content;
        margin-bottom: 10px;
    }
    .about-us .quote {
        padding-right: 35px;
    }
    .about-us .quote.recruit-teams {
        padding-right: 45px;
    }
    .about-us .quote.main-criterion {
        padding-right: 25px;
    }
    .about-us .quote.result p br,
    .about-us .criteria h3 br {
        display: none;
    }
    .form-callback {
        margin-top: 0;
        padding-bottom: 25px;
        background-color: #ed3947;
    }
    .contacts-service {
        margin: 0;
        padding: 0;
    }
}