.swiper-container {
    height: 715px;
}

/* Содержимое слайдера */
.header-slider .slide-desc.container {
    position: relative;
    top: -540px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
}

.slide-desc .price,
.slide-desc h2,
.slide-desc h3 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: rgba(28, 30, 33, 1);
    color: rgba(255, 255, 255, 1);
}

.slide-desc .price {
    height: 45px;
    margin: 0 0 28px 515px;
    padding: 0 12px 0 17px;
    border-radius: 22px;
    font-size: 25.85px;
    letter-spacing: 0.02em;
}

.slide-desc .price span {
    padding-bottom: 9px;
    font-size: 16px;
}

.slide-desc h2,
.slide-desc h3 {
    background: rgba(28, 30, 33, 0.5);
    padding: 0 0 0 10px;
    font-family: "Next Art Bold", sans-serif;
    text-transform: uppercase;
}

.header-slider .slide-desc h2 {
    height: 70px;
    margin-bottom: 16px;
    font-size: 60px;
    letter-spacing: 0.1em;
}

.header-slider .slide-desc h3 {
    height: 50px;
    margin-bottom: 66px;
    font-size: 36px;
    letter-spacing: 0.2em;
}

/* Кнопка "Подробнее" */

.header-slider .slide-desc a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-decoration: none;
}

.header-slider .slide-desc a p {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 73px;
    padding: 0 38px;
    line-height: 68px;
    border: 4px solid #d52437;
    border-top-left-radius: 36px;
    border-bottom-left-radius: 36px;
    color: #fff;
    font-family: "Next Art Bold", sans-serif;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 0.2em;
}

.header-slider .slide-desc a:hover p,
.header-slider .slide-desc a:hover span {
    background-color: #ed3947;
}

.header-slider .slide-desc a:active p,
.header-slider .slide-desc a:active span {
    background-color: #f9152e;
}

.header-slider .slide-desc a span {
    position: relative;
    display: block;
    width: 69px;
    height: 73px;
    background-color: #d52437;
    border-top-right-radius: 36px;
    border-bottom-right-radius: 36px;
}

.header-slider .slide-desc a:hover span {
    border: 4px solid #d52437;
    border-left: none;
}

.slide-desc a span::before,
.slide-desc a span::after,
.swiper-button-prev::before,
.swiper-button-prev::after,
.swiper-button-next::before,
.swiper-button-next::after,
.down-the-page .arrow-down::before,
.down-the-page .arrow-down::after {
    position: absolute;
    left: 20px;
    display: block;
    content: "";
    width: 15px;
    height: 5px;
    background-color: #fff;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.slide-desc a span::before {
    top: calc(50% - 4px);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.slide-desc a span::after {
    top: calc(50% + 4px);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

/* Контейнер для Pagination и Arrows */
.header-slider .container {
    position: relative;
    top: -715px;
    height: 100%;
}

/* Pagination */
.header-slider .swiper-pagination {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    top: 50%;
    left: 125px !important;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
}

.header-slider .swiper-pagination-bullet {
    position: relative;
    left: -5px;
    margin: 14px 0 !important;
    width: 11px;
    height: 11px;
    background-color: #f0eeec;
    opacity: 1;
}

.header-slider .swiper-pagination-bullet-active {
    position: relative;
    left: 0;
    width: 21px;
    height: 21px;
    background-color: transparent;
    border: 2px solid #ff394f;
}

/* Arrows */
.header-slider .swiper-button-prev,
.header-slider .swiper-button-next {
    left: 2px;
    top: unset !important;
    bottom: 60px;
    width: 30px;
    height: 4px;
    background-color: #fff;
    background-image: none;
}

.swiper-button-prev::before {
    left: -2px;
    top: calc(50% - 7px);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.swiper-button-prev::after {
    left: -2px;
    top: calc(50% + 1px);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.header-slider .swiper-button-next {
    left: 186px;
}

.swiper-button-next::before {
    top: calc(50% - 7px);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.swiper-button-next::after {
    top: calc(50% + 1px);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.header-slider .swiper-button-disabled {
    opacity: 1 !important;
}

/* Номер слайда */
.slide-number {
    position: relative;
    left: 47px;
    bottom: -496px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    width: 124px;
    height: 58px;
    border-radius: 29px;
    background-color: #1d1e21;
    z-index: 1;
}

.slide-number p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0 auto;
    font-size: 24px;
    font-family: "Next Art", sans-serif;
    color: #afafaf;
}

.slide-number p span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 36px;
    font-family: "Next Art Bold", sans-serif;
    color: #fff;
}

.slide-number p span::after {
    display: block;
    padding: 0 5px 0 8px;
    content: '/';
    font-family: "Next Art", sans-serif;
    color: #afafaf;
}

/*  Скрол вниз */
.down-the-page {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 84px;
    background-color: #2f2f2f;
}

.down-the-page a {
    position: relative;
    bottom: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 84px;
    height: 84px;
    background-color: rgba(29, 30, 33, 0.2);
    border-radius: 50%;
    z-index: 10;
}

.down-the-page a:hover {
    background-color: rgba(80, 86, 97, 0.8);
}

.down-the-page .arrow-down {
    height: 50px;
    width: 3px;
    background-color: #fff;
}

.down-the-page .arrow-down::before,
.down-the-page .arrow-down::after {
    height: 3px;
}

.down-the-page .arrow-down::before {
    left: 30px;
    top: 60px;
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
}
.down-the-page .arrow-down::after {
    left: 39px;
    top: 60px;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
}

/* Описание компании */
.site-desc-container {
    background-color: #fdfaff;
}

.site-desc {
    width: 750px;
    margin: 0 auto;
    padding: 90px 0 75px 0;
}

.site-desc h2 {
    padding-bottom: 35px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Next Art Bold", sans-serif;
    font-size: 24.25px;
    color: #333333;
}

.site-desc p {
    line-height: 24px;
    padding-bottom: 25px;
}

.site-desc p:nth-child(3) {
    padding-top: 50px;
}

.site-desc p:last-child {
    padding-bottom: 0;
}

/* Ремонт по типу недвижимости */
.type-of-repair {
    background-color: #fdfaff;
}

.type-of-repair .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 80px;
}

.repair-of-apartments,
.repair-of-houses,
.repair-of-commercial-real-estate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 485px;
    padding: 33px 13px;
    cursor: pointer;
    transition: all ease .5s;
}

.repair-of-apartments:hover,
.repair-of-houses:hover,
.repair-of-commercial-real-estate:hover {
    -webkit-box-shadow: 0 0 30px #dbdbdb;
            box-shadow: 0 0 30px #dbdbdb;
    background-color: #fdfaff;
    transition: all ease .4s;
}

.type-of-repair img {
    width: 100%;
}

.type-of-repair h2 {
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

/* Фото ремонта и стоимость */
.repair-img-label {
    position: relative;
}

.repair-img-label .label {
    position: absolute;
    top: 9px;
    right: 9px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 51px;
    background-color: #ed3947;
}

.repair-img-label .label p {
    padding: 0 17px 0 29px;
    color: #fff;
    font-weight: bold;
}

.repair-img-label .label p span {
    font-family: "Next Art Bold", sans-serif;
    font-size: 24px;
}

.repair-img-label .label p sup {
    font-size: 14px;
}

/* Список видов ремонта */
.type-of-repair .repair-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-left: 157px;
    padding-top: 20px;
}

.type-of-repair .repair-list a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 34px;
    color: #333333;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 34px;
}

.type-of-repair .repair-list a::before {
    display: block;
    content: '';
    width: 12px;
    height: 12px;
    margin: auto 15px auto 8px;
    background-color: #ed3947;
}

.type-of-repair .repair-list a:hover {
    background-color: #ffefb0;
}

/* Все детали */
.all-details {
    padding: 95px 0 100px;
    background-color: #a8a5a9;
    background-image: url(../img/all-details-bg.jpg);
    background-position: center;
    color: #fff;
}

.all-details .container {
    width: 850px;
}

.all-details p {
    font-size: 24px;
}

.all-details h3 {
    padding: 20px 0 75px;
    font-size: 48px;
    font-weight: bold;
    line-height: 48px;
}

.all-details .details-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.all-details .details-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 400px;
    padding-bottom: 60px;
}

.all-details .details-item span {
    position: absolute;
    display: block;
    width: 58px;
    height: 58px;
    border: 1px solid #c3c1c4;
    border-radius: 50%;
}

.all-details .details-item span::before,
.all-details .details-item span::after {
    position: absolute;
    display: block;
    content: '';
    width: 22px;
    height: 3px;
    background-color: #ed3947;
}

.all-details .details-item span::before {
    top: 26px;
    left: 18px;
}

.all-details .details-item span::after {
    left: 18px;
    top: 26px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

.all-details .details-item p {
    margin-left: 75px;
    font-size: 18px;
    line-height: 24px;
}

/* Выполненные объекты */
.completed-objects {
    padding: 90px 0 155px;
    background-color: #1c1e22;
    color: #fff;
}

.completed-objects .container {
    position: relative;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.completed-objects .swiper-container {
    position: relative;
    top: -50px;
    padding-top: 85px;
    height: 585px;
}

.completed-objects .swiper-slide {
    position: relative;
    width: 469px;
    height: 500px;
}

.completed-objects .swiper-slide img {
    width: 100%;
    height: 100%;
}

.completed-objects .slide-desc {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    padding-top: 95px;
    border: 25px solid #d9d9d9;
    background-color: rgba(0, 0, 0, 0.4)
}

.completed-objects .slide-desc h2 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 20px;
    padding: 0;
    height: auto;
    text-align: center;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.05em;
}

.completed-objects .slide-desc hr {
    width: 113px;
    height: 1px;
    border: none;
    background-color: #fff;
}

.completed-objects .slide-desc p {
    margin: 30px 0 45px 0;
    text-align: center;
}

.completed-objects .slide-desc a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 128px;
    height: 42px;
    text-decoration: none;
    background-color: #ed3947;
}

.completed-objects .slide-desc a:hover {
    width: 155px;
    background-color: #f9152e;

}

.completed-objects .slide-desc a p {
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-family: "Next Art Bold", sans-serif;
    letter-spacing: 0.05em;
}


/* Экран "Заказ бесплатной консультации" */
.free-consultation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1170px;
    padding: 145px 0 85px;
}

.free-consultation .consultation-img {
    position: absolute;
    width: 360px;
    height: 360px;
    margin: 35px 0 0 35px;
    border: 15px solid #ededed;
}

.free-consultation .consultation-img img {
    position: absolute;
    left: -45px;
    top: -45px;
    width: 360px;
    height: 360px;
}

.free-consultation .free-consultation-desc {
    padding-left: 420px;
}

.free-consultation .free-consultation-desc h3 {
    padding-bottom: 35px;
    font-size: 36px;
    font-family: "Next Art Bold", sans-serif;
    letter-spacing: 0.01em;
}

.free-consultation .free-consultation-desc hr {
    border: none;
    width: 111px;
    height: 1px;
    background-color: #000;
    margin-bottom: 45px;
}

.free-consultation .free-consultation-desc p {
    padding-bottom: 30px;
    line-height: 24px;
}

.free-consultation .free-consultation-desc .more-btn {
    height: 64px;
    margin: 20px 0 0;
}

.free-consultation .free-consultation-desc .more-btn p {
    width: 218px;
    padding-left: 36px;
    border: 3px solid #ed3947;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    color: #000;
    line-height: 56px;
}

.free-consultation .free-consultation-desc .more-btn:hover p {
    color: #fff;
}

.free-consultation .free-consultation-desc .more-btn span {
    width: 68px;
    border: 3px solid #ed3947;
    border-left: none;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
}

.free-consultation .free-consultation-desc .more-btn span::before,
.free-consultation .free-consultation-desc .more-btn span::after {
    left: 22px;
    background-color: #000;
    width: 12px;
    height: 3px;
}

.free-consultation .free-consultation-desc .more-btn span::before {
    top: calc(50% - 5px);
}

.free-consultation .free-consultation-desc .more-btn span::after {
    top: calc(50% + 2px);
}

.free-consultation .free-consultation-desc .more-btn:hover span::before,
.free-consultation .free-consultation-desc .more-btn:hover span::after {
    background-color: #fff;
}

/* Экран "О компании" */
.about-company {
    padding: 160px 0 150px;
    background-color: #f6f7fb;
    background-image: url(../img/about-company.jpg);
    background-position: center;
    background-size: cover;
}

.about-company .container {
    padding-left: 775px;
}
    
.about-company h3 {
    padding-bottom: 45px;
    font-family: "Next Art Bold", sans-serif;
    font-size: 24.25px;
    text-transform: uppercase;
}

.about-company hr {
    width: 111px;
    height: 1px;
    margin-bottom: 75px;
    background-color: #000;
    border: none;
}

.about-company p {
    width: 550px;
    padding-bottom: 25px;
    line-height: 24px;
}

.about-company p:last-child {
    padding-bottom: 0;
}

/* Экран "Отзывы клиентов" */
.client-feedback {
    padding: 80px 0 85px;
}

.client-feedback {
    width: 1160px;
}

.client-feedback .section-title {
    letter-spacing: 0;
    padding-bottom: 18px;
}

.client-feedback hr {
    background-color: #333333;
}

.client-feedback .video-feedback-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 60px;
}

.client-feedback .video-feedback-item iframe {
    width: 565px;
    height: 395px;
}

.client-feedback .text-feedback-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 45px;
}

.client-feedback .text-feedback-item {
    width: 565px;
}

.client-feedback .text-feedback-item img {
    width: 100%;
    height: 365px;
    -o-object-fit: cover;
       object-fit: cover;
}

.client-feedback .text-feedback-item .text-feedback {
    position: relative;
    padding: 25px 0 0 50px;
}

.client-feedback .text-feedback-item .text-feedback::before {
    position: absolute;
    left: 0;
    display: block;
    width: 33px;
    height: 29px;
    content: '';
    background-image: url(../img/quote.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.client-feedback .text-feedback-item .text-feedback h4 {
    padding-bottom: 20px;
    color: #ed3947;
    font-size: 16.18px;
    font-weight: bold;
}

.client-feedback .text-feedback-item .text-feedback p {
    padding-bottom: 20px;
    width: 440px;
    font-size: 14.16px;
    line-height: 18.2px;
}

.client-feedback .text-feedback-item .text-feedback a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-decoration: none;
    color: #297780;
    font-size: 14.16px;
    line-height: 18.2px;
    border-bottom: 1px dotted #297780;
}

.client-feedback .text-feedback-item .text-feedback a::after {
    display: block;
    padding-left: 5px;
    content: '\203A';
}

.client-feedback .text-feedback-item .text-feedback a:hover {
    color: #20a8ff;
    border-bottom: 1px dotted #20a8ff;
}

.client-feedback .more-btn {
    margin-top: 55px;
}

.client-feedback .more-btn p {
    width: 182px;

    padding-left: 40px;
    border: 2px solid #bcbcbc;
    border-right: 1px solid #bcbcbc;
    color: #000;
}

.client-feedback .more-btn:hover p,
.client-feedback .more-btn:hover span {
    background-color: #d7d7d7;
}

.client-feedback .more-btn:active p,
.client-feedback .more-btn:active span {
    background-color: #adadad;
    color: #fff;
}

.client-feedback .more-btn span {
    width: 52px;
    border: 2px solid #bcbcbc;
    border-left: 1px solid #bcbcbc;
}

.client-feedback .more-btn span::before,
.client-feedback .more-btn span::after {
    left: 15px;
    width: 16px;
    height: 2px;
    background-color: #000;
    top: calc(50% - 1px);
}

.client-feedback .more-btn span:active,
.client-feedback .more-btn span:active {
    background-color: #fff;
}

.client-feedback .more-btn span::before {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
}

.client-feedback .more-btn span::after {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

/* Экран "Дополнительные услуги" */
.complementary-services {
    padding: 90px 0 105px;
    background-color: #363941;
}

.complementary-services .section-title {
    color: #fff;
    letter-spacing: 0;
}

.complementary-services .section-hr {
    background-color: #fff;
}

.complementary-services .complementary-services-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
    padding-top: 60px;
}

.complementary-services .complementary-services-item {
    width: 130px;
    text-decoration: none;
}

.complementary-services .complementary-services-item .services-img {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 125px;
}

.complementary-services .complementary-services-item:hover .services-img {
    background-color: #545965;
}

.complementary-services .complementary-services-item img {
    width: 100%;
    height: 125px;
    -o-object-fit: scale-down;
       object-fit: scale-down;
}

.complementary-services .complementary-services-item:hover .services-img::after {
    position: absolute;
    bottom: -10px;
    display: block;
    content: '';
    width: 0;
    height: 0;
    margin: -5px auto 0;
    border-top: 12px solid #545965;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
}

.complementary-services .complementary-services-item p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40px;
    margin-top: 15px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
}

.complementary-services .complementary-services-item:hover p {
    margin-top: 13px;
    background-color: #ed3947;
    border-radius: 20px;
}

/* Экран "Карта, Контакты и Форма подвала" */
.contacts-footer-form {
    padding: 45px 0;
    background: url(../img/map-bg.jpg) no-repeat center;    
}

.contacts-footer-form .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 1160px;
}

.contacts-footer-form .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 560px;
}

.contacts-footer-form .footer-form-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 275px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.contacts-footer-form .footer-form-input input,
.contacts-footer-form .footer-form textarea {
    width: 100%;
    height: 44px;
    margin-bottom: 23px;
    padding: 16px 18px;
    border: 2px solid #6c7483;
    border-radius: 2px;
}

.contacts-footer-form .footer-form-input input:last-child {
    margin-bottom: 0;
}

.contacts-footer-form .footer-form-input input::-webkit-input-placeholder,
.contacts-footer-form .footer-form textarea::-webkit-input-placeholder {
    font-family: "Arimo", sans-serif;
    font-size: 14px;
    color: #505661;
}

.contacts-footer-form .footer-form-input input:-ms-input-placeholder,
.contacts-footer-form .footer-form textarea:-ms-input-placeholder {
    font-family: "Arimo", sans-serif;
    font-size: 14px;
    color: #505661;
}

.contacts-footer-form .footer-form-input input::-ms-input-placeholder,
.contacts-footer-form .footer-form textarea::-ms-input-placeholder {
    font-family: "Arimo", sans-serif;
    font-size: 14px;
    color: #505661;
}

.contacts-footer-form .footer-form-input input::placeholder,
.contacts-footer-form .footer-form textarea::placeholder {
    font-family: "Arimo", sans-serif;
    font-size: 14px;
    color: #505661;
}

.contacts-footer-form .footer-form-input label {
    position: relative;
    top: 10px;
}

.contacts-footer-form .footer-form textarea {
    width: 275px;
    height: 178px;
    margin: 0 0 0 10px;
    padding-top: 12px;
}

.contacts-footer-form .footer-form .more-btn {
    margin: 20px 0 0 0;
}

.contacts-footer-form .footer-form .more-btn p {
    width: 182px;
    padding-left: 38px;
    background-color: #d52437;
    border: 3px solid #d52437;
    line-height: 40px;
}

.contacts-footer-form .footer-form .more-btn:hover p,
.contacts-footer-form .footer-form .more-btn:hover span {
    background-color: #f9152e;
}

.contacts-footer-form .footer-form .more-btn span {
    width: 56px;
    border: 3px solid #d52437;
    border-left: none;
}

.contacts-footer-form .footer-form .more-btn span::before,
.contacts-footer-form .footer-form .more-btn span::after {
    left: 24px;
    width: 12px;
    height: 3px;
    background-color: #d52437;
}

.contacts-footer-form .footer-form .more-btn:hover span::before,
.contacts-footer-form .footer-form .more-btn:hover span::after {
    background-color: #fff;
}

.contacts-footer-form .footer-form .more-btn span::before {
    top: calc(50% - 5px);
}

.contacts-footer-form .footer-form .more-btn span::after {
    top: calc(50% + 2px);
}

.contacts-footer-form .footer-form #agreements {
    display: none;
}

.contacts-footer-form .footer-form .agreements-label {
    position: relative;
    width: 275px;
    margin: 30px 0 0 40px;
    padding-left: 30px;
    font-size: 12px;
    color: #404040;
}

.contacts-footer-form .footer-form .agreements-label span {
    position: absolute;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #0a0f37;
    border-radius: 2px;
    cursor: pointer;
}

.contacts-footer-form .footer-form input:checked + .agreements-label span .checked::before,
.contacts-footer-form .footer-form input:checked + .agreements-label span .checked::after {
    position: relative;
    display: block;
    content: '';
    height: 3px;
    background-color: #0a0f37;
}

.contacts-footer-form .footer-form input:checked + .agreements-label span .checked::before {
    top: 7px;
    left: 1px;
    width: 6px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.contacts-footer-form .footer-form input:checked + .agreements-label span .checked::after {
    top: 3px;
    left: 3px;
    width: 10px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.contacts-footer-form .footer-form .agreements-label a {
    color: #404040;
}

/* Адаптивность */

/* 1200px - 1540px */
@media screen and (max-width: 1540px) {
    .header-slider .swiper-pagination {
        left: 0 !important;
    }
    .type-of-repair h2 {
        font-size: 15px;
    }
    .repair-of-apartments, .repair-of-houses, .repair-of-commercial-real-estate {
        width: 405px;
    }
    .type-of-repair .repair-list {
        margin-left: 60px;
    }
    .completed-objects .swiper-slide img {
        -o-object-fit: cover;
           object-fit: cover;
    }
    .completed-objects .slide-desc {
        padding: 40px;
    }
    .about-company .container {
        padding-left: 600px;
    }
}

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
    .repair-of-apartments, .repair-of-houses, .repair-of-commercial-real-estate {
        width: 340px;
    }
    .type-of-repair h2 {
        height: 50px;
        line-height: 30px;
    }
    .type-of-repair .repair-of-commercial-real-estate h2 {
        line-height: 15px;
    }
    .type-of-repair .repair-list a {
        font-size: 14px;
    }
    .completed-objects .swiper-container {
        height: 435px;
    }
    .completed-objects .swiper-slide {
        height: 350px;
    }
    .completed-objects .slide-desc {
        padding: 20px;
    }
    .completed-objects .slide-desc h2 {
        font-size: 16px;
        line-height: 20px;
    }
    .completed-objects .slide-desc p {
        font-size: 16px;
    }
    .completed-objects {
        padding: 90px 0 30px;
    }
    .about-company .container {
        padding-left: 500px;
    }
    .about-company p {
        width: auto;
    }
    .about-company {
        padding: 120px 0 110px;
    }
    .client-feedback .video-feedback-item iframe {
        width: 420px;
        height: 260px;
    }
    .client-feedback .text-feedback-item {
        width: 420px;
    }
    .client-feedback .text-feedback-item .text-feedback p {
        width: auto;
    }
    .complementary-services {
        padding: 70px 0 85px;
    }
    .complementary-services .complementary-services-item {
        width: 100px;
    }
    .complementary-services .complementary-services-item p {
        font-size: 13px;
        line-height: 14px;
    }
    .contacts-footer-form .container {
        width: 860px;
    }
    .contacts-footer-form .contacts {
        width: 420px;
        padding: 40px 35px;
    }
    .contacts-footer-form .footer-form {
        width: 420px;
    }
    .contacts-footer-form .footer-form-input {
        width: 100%;
    }
    .contacts-footer-form .footer-form textarea {
        width: 100%;
        height: 100px;
        margin: 0;
    }
    .contacts-footer-form .footer-form-input input,
    .contacts-footer-form .footer-form-input input:last-child {
        margin-bottom: 10px;
        height: 40px;
    }
    .contacts-footer-form .footer-form .more-btn {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
    .contacts-footer-form .footer-form .agreements-label,
    .contacts-footer-form .footer-form .more-btn {
        margin: 10px 0 0;
    }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
    .header-slider .container {
        top: -365px;
    }
    .swiper-container {
        height: 365px;
    }
    .header-slider .slide-desc.container {
        top: -650px;
    }
    .slide-desc .price {
        height: 23px;
        margin: 0 0 14px 260px;
        padding: 0 5px 0 8px;
        font-size: 13.23px;
    }
    .slide-desc .price span {
        font-size: 8px;
    }
    .header-slider .slide-desc h2,
    .header-slider .slide-desc h3 {
        padding: 0 0 0 4px;
    }
    .header-slider .slide-desc h2 {
        height: 36px;
        margin-bottom: 8px;
        font-size: 30.62px;
    }
    .header-slider .slide-desc h3 {
        height: 25px;
        margin-bottom: 27px;
        font-size: 18.43px;
    }
    .header-slider .slide-desc a p,
    .header-slider .slide-desc a span {
        height: 40px;
    }
    .header-slider .slide-desc a p {
        width: 152px;
        font-size: 14px;
        padding: 0 18px;
        line-height: 30px;
        letter-spacing: 0.2em;
        border: 5px solid #d52437;
    }
    .header-slider .slide-desc a span {
        width: 44px;
    }
    .slide-desc a span::before,
    .slide-desc a span::after {
        left: 14px;
        width: 9px;
        height: 2px;
    }
    .slide-desc a span::before {
        top: calc(50% - 3px);
    }
    .slide-desc a span::after {
        top: calc(50% + 3px);
    }
    .header-slider .swiper-button-prev, .header-slider .swiper-button-next {
        bottom: 24px;
    }
    .header-slider .swiper-button-prev, .header-slider .swiper-button-next {
        width: 14px;
        height: 2px;
    }
    .swiper-button-prev::before,
    .swiper-button-prev::after,
    .swiper-button-next::before,
    .swiper-button-next::after {
        width: 7px;
        height: 2px;
    }
    .swiper-button-prev::before,
    .swiper-button-next::before {
        top: calc(50% - 3.5px);
    }
    .swiper-button-next::before,
    .swiper-button-next::after {
        left: 10px;
    }
    .header-slider .swiper-button-next {
        left: 95px;
    }
    .slide-number {
        left: 21px;
        bottom: -258px;
        width: 68px;
        height: 30px;
    }
    .slide-number p {
        font-size: 12.29px;
    }
    .slide-number p span {
        font-size: 18.43px;
    }
    .header-slider .swiper-pagination-bullet {
        left: -2px;
        margin: 7px 0 !important;
        width: 6px;
        height: 6px;
    }
    .header-slider .swiper-pagination-bullet-active {
        left: 0;
        width: 11px;
        height: 11px;
    }
    .down-the-page {
        height: 44px;
    }
    .down-the-page a {
        bottom: 20px;
        width: 44px;
        height: 44px;
    }
    .down-the-page .arrow-down {
        height: 30px;
        width: 2px;
    }
    .down-the-page .arrow-down::before,
    .down-the-page .arrow-down::after {
        width: 7px;
        height: 2px;
        top: 32px;
    }
    .down-the-page .arrow-down::before {
        left: 15px;
    }
    .down-the-page .arrow-down::after {
        left: 22px;
    }
    .site-desc h2 {
        padding: 0 170px 20px;
        font-size: 16px;
    }
    .site-desc {
        padding: 35px 0 25px;
    }
    .site-desc p {
        font-size: 14px;
        line-height: 14px;
        padding: 0 100px 12px 100px;
    }
    .site-desc p:nth-child(3) {
        padding-top: 20px;
    }
    .repair-of-apartments, .repair-of-houses, .repair-of-commercial-real-estate {
        width: 245px;
        padding: 15px 4px;
    }
    .repair-img-label .label {
        top: 5px;
        right: 5px;
        height: 26px;
    }
    .type-of-repair h2 {
        height: 32px;
        font-size: 12px;
        padding-bottom: 10px;
        line-height: 22px;
    }
    .type-of-repair .repair-of-commercial-real-estate h2 {
        line-height: 11px;
    }
    .repair-img-label .label p {
        padding: 0 8px 0 14px;
        font-size: 9.22px;
    }
    .repair-img-label .label p span {
        font-size: 12.25px;
    }
    .repair-img-label .label p sup {
        font-size: 6px;
    }
    .type-of-repair {
        padding-bottom: 55px;
    }
    .type-of-repair .repair-list {
        margin-left: 50px;
    }
    .type-of-repair .repair-list a {
        height: 17px;
        font-size: 12px;
        line-height: 15.36px;
    }
    .type-of-repair .repair-list a span {
        text-transform: none;
    }
    .type-of-repair .repair-list a::before {
        width: 6px;
        height: 6px;
        margin: auto 5px auto 5px;
    }
    .all-details {
        padding: 50px 0 65px;
    }
    .all-details .container {
        width: 670px;
        padding-left: 60px;
    }
    .all-details p {
        font-size: 12.29px;
    }
    .all-details h3 {
        padding: 8px 0 40px;
        font-size: 24.57px;
        line-height: 24.57px;
    }
    .all-details .details-item {
        padding-bottom: 30px;
    }
    .all-details .details-item span {
        width: 28px;
        height: 28px;
    }
    .all-details .details-item span::before, .all-details .details-item span::after {
        width: 12px;
        height: 2px;
        top: 12px;
        left: 8px;
    }
    .all-details .details-item p {
        margin-left: 40px;
        font-size: 14px;
        line-height: 14px;
    }
    .all-details .details-item p br {
        display: none;
    }
    .all-details .details-item {
        width: 290px;
    }
    .completed-objects {
        padding: 35px 0 20px;
    }
    .completed-objects .swiper-container {
        height: 315px;
        padding-top: 60px;
        top: -35px;
    }
    .completed-objects .swiper-slide {
        height: 255px;
    }
    .completed-objects .slide-desc {
        border: 12px solid #d9d9d9;
    }
    .completed-objects .slide-desc h2 {
        font-size: 13px;
        line-height: 17px;
        margin-bottom: 15px;
    }
    .completed-objects .slide-desc hr {
        width: 84px;
    }
    .completed-objects .slide-desc p {
        margin: 15px 0 20px;
    }
    .completed-objects .slide-desc {
        padding: 25px 12px 30px;
    }
    .completed-objects .slide-desc p {
        font-size: 11px;
    }
    .completed-objects .slide-desc a {
        width: 90px;
        height: 30px;
    }
    .completed-objects .slide-desc a p {
        font-size: 14px;
    }
    .section-hr {
        width: 64px;
        height: 3px;
    }
    .more-btn,
    .free-consultation .free-consultation-desc .more-btn {
        height: 38px;
    }
    .more-btn p,
    .free-consultation .free-consultation-desc .more-btn p {
        width: 166px;
        padding-left: 28px;
        font-size: 14px;
        line-height: 32px;
        letter-spacing: 0.025em;
    }
    .more-btn span,
    .free-consultation .free-consultation-desc .more-btn span {
        width: 35px;
    }
    .more-btn span::before,
    .more-btn span::after,
    .free-consultation .free-consultation-desc .more-btn span::before,
    .free-consultation .free-consultation-desc .more-btn span::after {
        left: 12px;
    }
    .free-consultation {
        padding: 75px 0 40px;
    }
    .free-consultation .consultation-img {
        border: 8px solid #ededed;
        margin: 25px 0 0 25px;
    }
    .free-consultation .consultation-img,
    .free-consultation .consultation-img img {
        width: 185px;
        height: 185px;
    }
    .free-consultation .consultation-img img {
        left: -30px;
        top: -30px;
    }
    .free-consultation .free-consultation-desc {
        padding-left: 240px;
    }
    .free-consultation .free-consultation-desc h3 {
        font-size: 18px;
        line-height: 18px;
        padding-bottom: 15px;
    }
    .free-consultation .free-consultation-desc hr {
        margin-bottom: 15px;
    }
    .free-consultation .free-consultation-desc p {
        font-size: 14px;
        line-height: 16px;
        padding-bottom: 20px;
    }
    .free-consultation .free-consultation-desc p br {
        display: none;
    }
    .free-consultation .free-consultation-desc .more-btn {
        margin: 0;
    }
    .free-consultation .free-consultation-desc .more-btn p {
        padding-left: 20px;
    }
    .free-consultation .free-consultation-desc .more-btn span::before,
    .free-consultation .free-consultation-desc .more-btn span::after {
        width: 8px;
        height: 2px;
    }
    .free-consultation .free-consultation-desc .more-btn span::before {
        top: calc(50% - 4px);
    }
    .free-consultation .free-consultation-desc .more-btn span::after {
        top: calc(50% + 1px);
    }
    .about-company {
        padding: 55px 0 45px;
    }
    .about-company .container {
        padding-left: 400px;
    }
    .about-company h3 {
        font-size: 16px;
        padding-bottom: 30px;
    }
    .about-company hr {
        margin-bottom: 30px;
    }
    .about-company p {
        font-size: 14px;
        line-height: 16px;
        padding-bottom: 15px;
    }
    .client-feedback {
        padding: 35px 0 20px; 
    }
    .client-feedback .video-feedback-list {
        padding-top: 23px;
    }
    .client-feedback .video-feedback-item iframe {
        width: 320px;
        height: 225px;
    }
    .client-feedback .text-feedback-list {
        padding-top: 30px;
    }
    .client-feedback .text-feedback-item {
        width: 320px;
    }
    .client-feedback .text-feedback-item img {
        height: 180px;
    }
    .client-feedback .text-feedback-item .text-feedback::before {
        width: 18px;
    }
    .client-feedback .text-feedback-item .text-feedback {
        padding: 16px 0 0 28px;
    }
    .client-feedback .text-feedback-item .text-feedback h4,
    .client-feedback .text-feedback-item .text-feedback p {
        font-size: 14px;
        padding-bottom: 15px;
    }
    .client-feedback .text-feedback-item .text-feedback p {
        line-height: 14.16px;
    }
    .client-feedback .text-feedback-item .text-feedback a {
        font-size: 14.16px;
    }
    .client-feedback .more-btn {
        margin-top: 25px;
    }
    .client-feedback .more-btn p {
        padding-left: 32px;
    }
    .client-feedback .more-btn span {
        width: 40px;
    }
    .client-feedback .more-btn span::before, .client-feedback .more-btn span::after {
        left: 10px;
    }
    .complementary-services {
        padding: 40px 0;
    }
    .complementary-services .complementary-services-list {
        padding-top: 35px;
    }
    .complementary-services .complementary-services-item {
        width: 75px;
    }
    .complementary-services .complementary-services-item .services-img {
        height: 75px;
    }
    .complementary-services .complementary-services-item img {
        height: 50px;
    }
    .complementary-services .complementary-services-item p {
        height: 35px;
        font-size: 11px;
        line-height: 8px;
    }
    .contacts-footer-form {
        padding: 15px 0 25px;
    }
    .contacts-footer-form .contacts {
        width: 325px;
        padding: 30px 30px 40px;
    }
    .contacts-footer-form .contacts h3 {
        font-size: 30px;
    }
    .contacts-footer-form .contacts .contacts-footer-form-phone,
    .contacts-footer-form .contacts p {
        font-size: 14px;
        padding-bottom: 15px;
    }
    .contacts-footer-form .contacts a {
        margin-bottom: 75px;
    }
    .contacts-footer-form .contacts p:last-child {
        padding-left: 25px;
        margin-top: 40px;
        background-size: 16px;
        letter-spacing: 0.025em;
    }
    .contacts-footer-form .contacts p:last-child span {
        padding-left: 8px;
    }
    .contacts-footer-form .footer-form {
        width: 315px;
    }
    .contacts-footer-form .footer-form-input input, .contacts-footer-form .footer-form-input input:last-child {
        height: 45px;
    }
    .contacts-footer-form .footer-form textarea {
        height: 75px;
    }
    .contacts-footer-form .footer-form .more-btn {
        height: 50px;
    }
    .contacts-footer-form .footer-form .more-btn p {
        line-height: 44px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    .contacts-footer-form .footer-form .more-btn span {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
    .container {
        width: 540px;
    }
    .site-desc {
        width: 540px;
    }
    .site-desc h2 {
        padding: 0 0 20px;
    }
    .site-desc p {
        padding: 0 0 12px;
    }
    .type-of-repair .container {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .repair-of-commercial-real-estate {
        margin: 20px auto 0;
    }
    .all-details .container {
        width: 540px;
    }
    .about-company .container {
        padding-left: 280px;
    }
    .client-feedback .video-feedback-item:nth-child(2),
    .client-feedback .text-feedback-item:nth-child(2) {
        display: none;
    }
    .client-feedback .video-feedback-item iframe,
    .client-feedback .text-feedback-item img {
        width: 100%;
        height: 285px;
    }
    .complementary-services .complementary-services-list {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .complementary-services .complementary-services-item {
        width: 110px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .complementary-services .complementary-services-item .services-img {
        width: 90px;
    }
    .contacts-footer-form {
        padding: 15px 0 0;
        background-size: cover;
    }
    .contacts-footer-form .container {
        width: 100% !important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .contacts-footer-form .contacts {
        width: 100%;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        background-color: rgba(54, 57, 65, 1);
    }
    .contacts-footer-form .footer-form {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 25px;
    }
    .free-consultation.container,
    .client-feedback.container {
        width: 540px !important;
    }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }
    .swiper-container {
        height: 310px;
    }
    .header-slider .slide-desc.container {
        top: -660px;
    }
    .slide-desc .price {
        margin: 0 0 13px 156px;
    }
    .header-slider .slide-desc h2 {
        height: 28px;
        padding-bottom: 5px;
        font-size: 22.1px;
    }
    .header-slider .slide-desc h3 {
        height: 21px;
        margin-bottom: 18px;
        font-size: 14.38px;
    }
    .header-slider .slide-desc {
        height: 48px;
    }
    .header-slider .slide-desc a p {
        width: 146px;
        padding: 0 10px 0 12px;
    }
    .header-slider .slide-desc a span {
        width: 48px;
    }
    .header-slider .swiper-pagination {
        display: none;
    }
    .slide-number {
        bottom: -320px;
        left: calc(50% - 35px);
    }
    .header-slider .swiper-button-prev {
        bottom: -24px;
        left: calc(50% - 56px);
    }
    .header-slider .swiper-button-next {
        bottom: -24px;
        left: calc(50% + 40px);
    }
    .down-the-page {
        display: none;
    }
    .site-desc {
        width: 90%;
        padding-bottom: 10px;
    }
    .site-desc p {
        font-size: 15.9px;
        line-height: 18px;
    }
    .repair-of-apartments, .repair-of-houses, .repair-of-commercial-real-estate {
        width: 100%;
        padding-bottom: 20px;
    }
    .type-of-repair {
        padding-bottom: 0;
    }
    .type-of-repair h2 {
        font-size: 15.51px;
        height: 20px;
        padding-bottom: 0;
    }
    .type-of-repair .repair-of-commercial-real-estate h2 {
        line-height: 20px;
        height: auto;
    }
    .repair-of-apartments, .repair-of-houses, .repair-of-commercial-real-estate {
        position: relative;
    }
    .type-of-repair img {
        opacity: 0.3;
    }
    .repair-img-label .label {
        top: 20px;
        right: 7px;
        height: 33px;
    }
    .repair-img-label .label p {
        font-size: 11.63px;
    }
    .repair-img-label .label p span {
        font-size: 15.51px;
    }
    .completed-objects .swiper-button-prev::before,
    .completed-objects .swiper-button-prev::after,
    .completed-objects .swiper-button-next::before,
    .completed-objects .swiper-button-next::after {
        width: 7px;
    }
    .completed-objects .swiper-button-prev::before,
    .completed-objects .swiper-button-next::before {
        top: calc(50% - 3px);
    }
    .type-of-repair .repair-list {
        padding-top: 0;
        position: absolute;
        top: 135px;
        margin-left: 65px;
    }
    .type-of-repair .repair-list a {
        font-size: 14px;
    }
    .type-of-repair .repair-list a::before {
        width: 10px;
        height: 10px;
        margin: auto 9px auto 5px;
    }
    .repair-of-commercial-real-estate {
        margin: 0;
    }
    .all-details {
        padding: 70px 0 40px;
    }
    .all-details .container {
        width: 90%;
        padding-left: 0;
    }
    .all-details p {
        font-size: 18px;
    }
    .all-details h3 {
        padding: 15px 0 50px;
        font-size: 25.5px;
        line-height: 24px;
    }
    .all-details h3 br {
        display: none;
    }
    .all-details .details-item p {
        font-size: 16px;
        line-height: 16px;
    }
    .all-details .details-item span {
        width: 34px;
        height: 34px;
    }
    .all-details .details-item span::before, 
    .all-details .details-item span::after {
        width: 14px;
        top: 16px;
        left: 10px;
    }
    .all-details .details-item p {
        margin-left: 42px;
    }
    .all-details .details-item {
        padding-bottom: 36px;
    }
    .free-consultation.container, .client-feedback.container {
        width: 90% !important;
    }
    .completed-objects {
        padding-top: 40px;
    }
    .completed-objects .swiper-container {
        height: 450px;
        padding-top: 55px;
        top: 20px;
    }
    .completed-objects .swiper-button-next {
        right: calc(50% - 29px);
    }
    .completed-objects .swiper-button-prev{
        right: 50%;
    }
    .completed-objects .swiper-slide {
        width: 100%;
        height: 340px;
    }
    .completed-objects .slide-desc {
        padding: 45px 12px 60px;
    }
    .completed-objects .slide-desc h2 {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 12px;
    }
    .completed-objects .slide-desc p {
        font-size: 14px;
        margin-bottom: 30px;
        letter-spacing: 0.05em;
    }
    .free-consultation {
        position: relative;
        padding: 30px 0 65px;
    }
    .free-consultation .consultation-img {
        top: 90px;
        margin: 53px 0 0 12px;
    }
    .free-consultation .consultation-img img {
        left: -25px;
        top: -25px;
    }
    .free-consultation .consultation-img, .free-consultation .consultation-img img {
        width: 120px;
        height: 120px;
    }
    .free-consultation .free-consultation-desc {
        width: 100%;
        padding-left: 150px;
    }
    .free-consultation .free-consultation-desc h3 {
        margin-left: -150px;
        font-size: 24px;
        line-height: 22px;
        padding-bottom: 28px;
        letter-spacing: 0.01em;
    }
    .free-consultation .free-consultation-desc p {
        font-size: 16px;
    }
    .free-consultation .free-consultation-desc p:nth-child(4) {
        padding-bottom: 25px;
    }
    .free-consultation .free-consultation-desc .more-btn {
        height: 42px;
        margin-left: -140px;
    }
    .free-consultation .free-consultation-desc .more-btn p {
        width: 168px;
        line-height: 38px;
    }
    .more-btn span, .free-consultation .free-consultation-desc .more-btn span {
        width: 39px;
    }
    .about-company {
        padding: 35px 0 45px;
    }
    .about-company .container {
        padding-left: 115px;
    }
    .about-company h3 {
        font-size: 18px;
        line-height: 18px;
    }
    .about-company p {
        font-size: 16px;
        line-height: 18px;
    }
    .client-feedback {
        padding: 45px 0 40px;
    }
    .client-feedback .video-feedback-item iframe {
        height: 215px;
    }
    .client-feedback .text-feedback-item img {
        height: 170px;
    }
    .client-feedback .more-btn {
        margin-top: 30px;
    }
    .complementary-services .complementary-services-list {
        padding: 35px 20px 0;
    }
    .complementary-services .complementary-services-item {
        width: 100px;
        padding-bottom: 15px;
    }
    .complementary-services .complementary-services-item p {
        font-size: 16px;
        line-height: 12px;
    }
    .contacts-footer-form {
        padding: 25px 0 0;
    }
    .contacts-footer-form .contacts {
        min-height: auto;
        padding: 30px 10px 15px;
    }
    .contacts-footer-form .contacts a {
        margin-bottom: 25px;
    }
    .contacts-footer-form .contacts p:last-child {
        margin-top: 15px;
    }
}