main .container {
    width: 1155px;
    margin: 0 auto;
}

.repair-published {
    padding-top: 25px;
}

.repair-published .container {
    display: flex;
}

.repair-published .repair,
.repair-published .published {
    display: flex;
    align-items: center;
    width: fit-content;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #b6b6b6;
    z-index: 10;
}

.repair-published .repair:hover {
    color: #ed3947;
}

.repair-published .repair::before,
.repair-published .published::before {
    display: block;
    content: '';
    width: 14px;
    height: 16px;
    margin-right: 8px;
    background-image: url(../img/rubrika.png);
    background-size: contain;
    box-sizing: border-box;
}

.repair-published .repair:hover::before {
    background-image: url(../img/rubrika-hover.png);
}

.repair-published .published {
    margin-left: 180px;
    text-transform: none;
}

.repair-published .published::before {
    width: 15px;
    background-image: url(../img/calendar.png); 
}

.repair-published .published span {
    padding-left: 5px;
}

.project-swiper-desc .container {
    display: flex;
    justify-content: space-between;
}

.project-swiper {
    position: relative;
    top: -25px;
    display: flex;
}

.project-swiper .swiper-container.gallery-top {
    position: relative;
    width: 755px;
    height: 580px;
    margin: 0;
    margin-right: 35px;
}

.project-swiper .swiper-container.gallery-top .detailed-view-btn {
    position: absolute;
    right: 20px;
    bottom: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 84px;
    background-color: rgba(29, 30, 33, .2);
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
}

.project-swiper .swiper-container.gallery-top .detailed-view-btn:hover {
    background-color: rgba(29, 30, 33, .8);
    border: 1px solid #4f5054;
}

.project-swiper:after {
    position: absolute;
    bottom: 0;
    left: 460px;
    display: block;
    content: '';
    width: 360px;
    height: 360px;
    border: 16px solid #ededed;
}

.project-swiper .swiper-container.gallery-top .swiper-wrapper,
.project-swiper .swiper-container.gallery-thumbs .swiper-wrapper {
    position: absolute;
    bottom: 70px;
    height: 450px;
}

.project-swiper .swiper-container.gallery-thumbs {
    position: relative;
    width: 155px;
    margin: 0;
}

.project-swiper .swiper-container.gallery-thumbs .swiper-wrapper .swiper-slide {
    padding: 6px;
    border: 1px solid #f2f2f2;
    height: 110px !important;
    box-sizing: border-box;
    cursor: pointer;
}

.project-swiper .swiper-container.gallery-thumbs .swiper-wrapper .swiper-slide:hover {
    padding: 5px;
    border: 2px solid #dcdcdc;
}

.project-swiper .swiper-container.gallery-thumbs .swiper-slide.swiper-slide-thumb-active,
.project-swiper .swiper-container.gallery-thumbs .swiper-slide.swiper-slide-thumb-active:hover {
    padding: 4px;
    border: 3px solid #d52437;
}

.project-swiper .swiper-container.gallery-top .swiper-button-next::before,
.project-swiper .swiper-container.gallery-top .swiper-button-prev::before,
.project-swiper .swiper-container.gallery-top .swiper-button-next::after,
.project-swiper .swiper-container.gallery-top .swiper-button-prev::after,
.detailed-view .swiper-button-next::before,
.detailed-view .swiper-button-prev::before,
.detailed-view .swiper-button-next::after,
.detailed-view .swiper-button-prev::after {
    position: absolute;
    display: block;
    content: '';
    background-color: #c3c3c3;
}

.project-swiper .swiper-container.gallery-top .swiper-button-prev::before,
.project-swiper .swiper-container.gallery-top .swiper-button-next::after,
.detailed-view .swiper-button-prev::before,
.detailed-view .swiper-button-next::after {
    transform: rotate(-45deg);
}

.project-swiper .swiper-container.gallery-top .swiper-button-prev::after,
.project-swiper .swiper-container.gallery-top .swiper-button-next::before,
.detailed-view .swiper-button-prev::after,
.detailed-view .swiper-button-next::before {
    transform: rotate(45deg);
}

.project-swiper .swiper-container.gallery-top .swiper-button-next:hover::before,
.project-swiper .swiper-container.gallery-top .swiper-button-prev:hover::before,
.project-swiper .swiper-container.gallery-top .swiper-button-next:hover::after,
.project-swiper .swiper-container.gallery-top .swiper-button-prev:hover::after {
    background-color: #000;
}

.project-desc {
    width: 165px;
    padding-top: 35px;
}

.project-desc h4 {
    padding-bottom: 13px;
    border-bottom: 1px solid #cacaca;
    font-size: 16px;
    font-family: "Next Art Bold", sans-serif;
    line-height: 18px;
    letter-spacing: -0.025em;
}

.project-desc .project-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #dddddd;
}

.project-desc .project-area p:first-child,
.project-desc .project-client p:first-child {
    font-size: 12px;
    letter-spacing: -0.025em;
    color: #b6b6b6;
}

.project-desc .project-area p:last-child {
    padding: 6px 4px 8px 12px;
    background-color: #f2f2f2;
    color: #636363;
    font-size: 14px;
    font-weight: bold;
}

.project-desc .project-area p:last-child span {
    font-size: 24px;
    padding-right: 6px;
}

.project-desc .project-area p:last-child sup {
    font-size: 8px;
}

.project-desc .project-client {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #dddddd;
}

.project-desc .project-client p:last-child {
    padding-right: 6px;
    font-size: 14px;
    font-weight: bold;
    color: #858585;
}

.project-desc .project-price {
    padding-top: 20px;
}

.project-desc .project-price,
.project-desc .project-price-material,
.project-desc .project-period {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
}

.project-desc .project-price p:first-child,
.project-desc .project-price-material p:first-child,
.project-desc .project-period p:first-child {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.025em;
    color: #b6b6b6;
}

.project-desc .project-price p:last-child,
.project-desc .project-price-material p:last-child,
.project-desc .project-period p:last-child {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.01em;
    color: #8f8f8f;
}

.project-desc .project-period {
    border-bottom: 1px solid #dddddd;
}

.btn-see-review {
    margin-top: 40px;
}

.btn-see-review p {
    width: 135px;
    height: 40px;
    padding-left: 0;
    border: 2px solid #bcbcbc;
    border-right: 1px solid #bcbcbc;
    color: #000;
    font-size: 11.5px;
    font-weight: bold;
    text-align: center;
    line-height: 38px;
}

.btn-see-review:hover p,
.btn-see-review:hover span {
    background-color: #d7d7d7;
}

.btn-see-review:active p,
.btn-see-review:active span {
    background-color: #adadad;
    color: #fff;
}

.btn-see-review span {
    width: 32px;
    height: 40px;
    border: 2px solid #bcbcbc;
    border-left: 1px solid #bcbcbc;
}

.btn-see-review span::before,
.btn-see-review span::after {
    left: 8px;
    width: 8px;
    height: 2px;
    background-color: #000;
    top: calc(50% - 1px);
}

.btn-see-review span:active,
.btn-see-review span:active {
    background-color: #fff;
}

.btn-see-review span::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            top: 15px;
}

.btn-see-review span::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            top: 20px;
}

/* Подробный просмотр проекта */
.detailed-view {
    display: none;
    position: fixed;
    top: 108px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 27, 28, .5);
    z-index: 100;
}

.detailed-view-active {
    display: block;
}

.detailed-view .container {
    width: 1670px;
    height: 910px;
    margin-top: 110px;
    padding: 75px 55px 95px;
    background-color: #fff;
    border-radius: 5px;
}

.detailed-view .project-desc {
    width: 205px;
    padding-top: 0;
}

.detailed-view .project-desc h4:first-child {
    padding: 0 0 38px;
    border-bottom:  none;
}

.detailed-view .project-desc .project-desc-container h4 {
    padding-bottom: 13px;
    color: #90949a;
    border-bottom: 1px solid #dddddd;
}

.detailed-view .swiper-container {
    width: 1315px;
    margin: 0;
}

.detailed-view .swiper-container .swiper-slide {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.detailed-view .swiper-container .swiper-slide img{
    width: 1060px;
    height: 100%;
    object-fit: cover;
}

.detailed-view .swiper-container .swiper-slide .project-slide-desc {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 220px;
}

.detailed-view .swiper-button-prev {
    right: 180px;
}

.detailed-view .swiper-button-next {
    right: 150px;
}

.detailed-view .project-slide-desc h3 {
    padding-bottom: 28px;
    font-size: 22px;
    font-family: "Next Art Semi Bold", sans-serif;
    line-height: 20px;
    color: #2a2c2f;
    text-transform: uppercase;
}

.detailed-view .project-slide-desc p {
    font-size: 16px;
    line-height: 20px;
    color: #8f8f8f;
}

.close-detailed-view {
    top: 0;
    right: 0;
}

/* Вертикальные соц. сети */
.vertical-social {
    position: fixed;
    top: 450px;
    margin-left: -110px !important;
    left: 50%;
    transform: translate(-50%, 0);
}

.vertical-social a {
    width: 36px;
    height: 36px;
    margin-bottom: 8px;
}

.project-extended-description .container {
    position: relative;
    padding: 25px 210px 130px 200px;
    border-bottom: 1px solid #bcbcbc;
}

.project-extended-description h2 {
    position: relative;
    padding-bottom: 115px;
    font-family: "Next Art Bold", sans-serif;
    font-size: 36px;
    line-height: 34px;
    color: #333333;
    text-transform: uppercase;
}

.project-extended-description h2::before {
    position: absolute;
    left: -98px;
    display: block;
    content: '';
    width: 68px;
    height: 68px;
    background-color: #d5d8df;
}

.project-extended-description h4 {
    color: #8b929b;
    font-weight: bold;
    text-transform: uppercase;
}

.project-extended-description .project-done-list {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.project-extended-description .project-done-list ul:first-child {
    width: 320px;
}

.project-extended-description .project-done-list ul:last-child {
    width: 350px;
}

.project-extended-description .project-done-list ul li {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 0 30px 60px;
    list-style: none;
    line-height: 20px;
}

.project-extended-description .project-done-list ul li::before {
    position: absolute;
    left: 0px;
    display: block;
    content: '';
    width: 36px;
    height: 36px;
    background-image: url(../img/list-check.png);
}

.project-extended-description h6 {
    position: absolute;
    top: 220px;
    right: 0;
    width: 200px;
    min-height: 220px;
    padding: 45px 30px 30px;
    background-color: #f9f9f9;
    border: 2px solid #e5e5e5;
    font-size: 14px;
    line-height: 20px;
}

.project-extended-description p {
    width: 655px;
    padding-bottom: 30px;
    line-height: 26px;
}


.project-extended-description p:nth-child(5) {
    padding-top: 30px;
}

.project-extended-description p:last-child {
    padding-bottom: 0;
}

.social-page .container {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}

.social {
    display: flex;
    align-items: center;
}

.social p {
    padding-right: 22px;
    color: #666666;
    line-height: 16px;
}

.social a,
.vertical-social a {
    display: block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.social .vk,
.vertical-social .vk {
    background-image: url(../img/vk1.png);
}

.social .vk:hover {
    background-image: url(../img/vk1-hover.png);
}

.social .fb,
.vertical-social .fb {
    background-image: url(../img/fb.png);
}

.social .fb:hover {
    background-image: url(../img/fb-hover.png);
}

.social .telegram,
.vertical-social .telegram {
    background-image: url(../img/tg.png);
}

.social .telegram:hover {
    background-image: url(../img/tg-hover.png);
}

.social .ok,
.vertical-social .ok {
    background-image: url(../img/ok1.png);
}

.social .ok:hover {
    background-image: url(../img/ok1-hover.png);
}

.social .pinterest,
.vertical-social .pinterest {
    background-image: url(../img/pin.png);
}

.social .pinterest:hover {
    background-image: url(../img/pin-hover.png);
}

.social .twitter,
.vertical-social .twitter {
    background-image: url(../img/tt.png);
}

.social .twitter:hover {
    background-image: url(../img/tt-hover.png);
}

.page {
    display: flex;
}

.page a {
    color: #afafaf;
}

.page .prev-page,
.page .next-page {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 182px;
    height: 34px;
    background-color: #1d1e21;
    border-radius: 17px;
    font-family: "Next Art Light", sans-serif;
    letter-spacing: 0.6em;
    font-size: 12.15px;
    text-decoration: none;
}

.page .next-page {
    margin-left: 15px;
}

.page .next-page::before {
    z-index: 10;
}

.page .prev-page::before,
.page .next-page::after {
    position: absolute;
    display: block;
    content: '';
    width: 23px;
    height: 14px;
    background-image: url(../img/page-arrow.png);
}

.page .prev-page::before {
    left: -14px;
}

.page .next-page::after {
    right: -14px;
    transform: rotate(180deg);
}

.page .prev-page:hover,
.page .next-page:hover {
    background-color: #000000;
    color: #fff;
}

.see-also {
    padding: 50px 0 65px;
    background-color: #363941;
}

.see-also h5 {
    padding-bottom: 25px;
    font-size: 24px;
    font-weight: bold;
    color: #cacaca;
}

.also-project-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 355px;
}

.also-project-item {
    position: relative;
    width: 360px;
    height: 355px;
    padding: 30px;
    background-color: #fff;
    transition: ease .5s all;
}

.also-project-item:hover {
    width: 386px;
    height: 386px;
    padding: 43px;
}

.also-project-item p {
    padding-bottom: 12px;
    font-size: 12px;
    color: #999999;
}

.also-project-item a {
    text-decoration: none;
}

.also-project-item h4 {
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    color: #434343;
    text-transform: uppercase;
}

.also-project-item h4:hover::after {
    display: block;
    content: '';
    width: 64px;
    height: 3px;
    margin-top: 5px;
    background-color: #f9152e;
}

.also-project-item img {
    position: absolute;
    bottom: 30px;
    width: 300px;
    height: 200px;
    transition: ease .5s all;
}

.also-project-item:hover img {
    bottom: 43px;
}



.form-callback {
    background-color: #363941;
}

.contacts-service {
    background-position: 50% 0;
}

/* Адаптивность */

/* 1620px - 1820px */
@media screen and (max-width: 1820px) {
    .detailed-view .container {
        width: 1570px;
    }
    .detailed-view .swiper-container {
        width: 1215px;
    }
    .detailed-view .swiper-container .swiper-slide img {
        width: 960px;
    }
}

/* 1366px - 1620px */
@media screen and (max-width: 1620px) {
    .vertical-social {
        display: none;
    }
    .detailed-view .container {
        width: 1320px;
        height: 810px;
    }
    .detailed-view .swiper-container {
        width: 985px;
        height: 640px;
    }
    .detailed-view .swiper-container .swiper-slide {
        width: 985px;
    }
    .detailed-view .swiper-container .swiper-slide img {
        width: 740px;
    }
}


/* 1200px - 1366px */
@media screen and (max-width: 1366px) {
    .detailed-view .container {
        display: flex;
        flex-wrap: wrap;
        width: 1170px;
        padding-bottom: 10px;
        height: fit-content;
        margin-top: 70px;
    }
    .detailed-view .project-desc {
        display: flex;
        width: 100%;
    }
    .detailed-view .project-desc h4:first-child {
        width: 260px;
        padding-top: 22px;
        padding-bottom: 0;
    }
    .project-desc-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 30px;
        width: 460px;
    }
    .detailed-view .project-desc .project-desc-container h4 {
        width: 100%;
        padding: 10px 0 7px;
        border-top: 1px solid #dddddd;
        color: #2a2c2f;
    }
    .detailed-view .project-desc .project-desc-container h4 br,
    .project-desc-container .project-price-material-period p br {
        display: none;
    }
    .project-desc-container .project-area-client{
        width: 130px;
    }
    .project-desc-container .project-price-material-period {
        width: 210px;
    }
    .project-desc .project-price, .project-desc .project-price-material, .project-desc .project-period {
        padding-bottom: 12px;
    }
    .project-desc .project-period {
        border-bottom: none;
    }
    .detailed-view .swiper-container {
        top: -30px;
        width: 100%;
        padding-top: 40px;
        box-sizing: content-box;
    }
    .detailed-view .swiper-container .swiper-slide {
        flex-wrap: wrap;
    }
    .detailed-view .swiper-container .swiper-slide img {
        width: 100%;
        height: 460px;
    }
    .detailed-view .swiper-container .swiper-slide .project-slide-desc {
        position: relative;
    }
    .detailed-view .swiper-container .swiper-slide .project-slide-desc {
        width: 100%;
        padding: 25px 0 0 165px;
    }
    .detailed-view .project-slide-desc h3 {
        padding-bottom: 14px;
    }
    .detailed-view .swiper-button-next {
        right: 0;
    }
    .detailed-view .swiper-button-prev {
        right: 30px;
    }
    .close-detailed-view {
        top: 10px;
        right: 10px;
        width: 50px;
        height: 50px;
    }
    .close-detailed-view::before,
    .close-detailed-view::after {
        top: 22px;
        left: 9px;
    }
    .vertical-social {
        z-index: 100;
    }
}

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
    main .container {
        width: 880px;
    }
    .vertical-social {
        left: 10px;
    }
    .project-swiper-desc .container {
        flex-wrap: wrap;
    }
    .project-swiper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .project-swiper:after {
        bottom: 70px;
        left: 530px;
    }
    .project-swiper .swiper-container.gallery-top {
        width: 100%;
        height: 560px;
        margin: 0;
    }
    .project-swiper .swiper-container.gallery-top .swiper-slide img {
        width: 100%;
    }
    .project-swiper .swiper-container.gallery-thumbs {
        width: 100%;
        height: 110px;
        margin-top: 5px;
    }
    .project-swiper .swiper-container.gallery-thumbs .swiper-wrapper {
        bottom: unset;
    }
    .project-swiper .swiper-container.gallery-thumbs .swiper-wrapper .swiper-slide {
        width: auto !important;
    }
    .project-swiper .swiper-container.gallery-top .detailed-view-btn {
        bottom: 15px;
    }
    .project-desc {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 0;
    }
    .project-desc h4 {
        width: 100%;
        padding: 16px 0 12px;
        border-top: 1px solid #cacaca;
    }
    .project-desc h4 br,
    .price-material-period p br {
        display: none
    }
    .area-client {
        width: 135px;
        padding-top: 8px;
    }
    .price-material-period {
        width: 210px;
        margin: 0 auto;
    }
    .btn-see-review {
        margin: auto 0;
    }
    .project-extended-description .container {
        padding-left: 65px;
        padding-right: 0;
        padding-bottom: 110px;
    }
    .project-extended-description h2 {
        margin-left: -65px;
        padding-bottom: 45px;
        font-size: 21px;
        line-height: 24px;
    }
    .project-extended-description h2::before {
        left: -48px;
        width: 40px;
        height: 40px;
    }
    .project-extended-description .project-done-list ul li {
        font-size: 16px;
        line-height: 16px;
    }
    .project-extended-description .project-done-list ul:first-child {
        width: 380px;
    }
    .project-extended-description .project-done-list ul:last-child {
        width: 420px;
    }
    .project-extended-description h6 {
        position: relative;
        top: 0;
        width: 100%;
        min-height: auto;
        padding: 25px 55px;
        margin-top: 20px;
    }
    .project-extended-description p:nth-child(5) {
        padding-top: 40px;
    }
    .project-extended-description p {
        width: 100%;
        font-size: 16px;
        line-height: 18px;
    }
    .also-project-item {
        width: 280px;
        height: 300px;
        padding: 25px 15px;
    }
    .also-project-item img {
        width: 250px;
        height: auto;
    }
    .also-project-item h4 {
        line-height: 14px;
    }
    .also-project-item:hover {
        width: 300px;
        height: 320px;
        padding: 20px 25px;
    }
    .social p {
        font-size: 14px;
        line-height: 12px;
    }
    .detailed-view {
        top: 68px;
    }
    .detailed-view .container {
        width: 960px;
    }
    .detailed-view .project-desc h4:first-child {
        border-top: none;
    }
    .detailed-view .project-desc .project-desc-container h4 {
        border-top: 1px solid #dddddd;
    }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
    main .container {
        width: 670px;
    }
    .repair-published {
        padding-top: 15px;
    }
    .vertical-social {
        left: 5px;
    }
    .project-swiper:after {
        bottom: 80px;
        left: 320px;
    }
    .project-swiper .swiper-container.gallery-top {
        height: 440px;
    }
    .project-desc {
        margin-top: -15px;
    }
    .project-extended-description .project-done-list ul:first-child {
        width: 270px;
    }
    .project-extended-description .project-done-list ul:last-child {
        width: 300px;
    }
    .social-page .container,
    .see-also .container {
        width: 750px;
    }
    .social p {
        padding-right: 10px;
    }
    .page {
        align-items: center;
        margin-right: 15px;
    }
    .page .prev-page, .page .next-page {
        width: 140px;
        height: 30px;
        font-size: 11.16px;
        letter-spacing: 0.5em;
    }
    .page .next-page {
        margin-left: 5px;
    }
    .social a {
        width: 32px;
        height: 32px;
        margin-right: 5px;
        background-size: cover;
    }
    .also-project-item {
        width: 240px;
        height: 280px;
    }
    .also-project-item img {
        width: 210px;
    }
    .also-project-item:hover {
        width: 255px;
        height: 290px;
        padding: 25px 20px;
    }
    .also-project-item:hover img {
        bottom: 35px;
    }
    .detailed-view .container {
        width: 750px;
        padding: 65px 35px 95px;
    }
    .detailed-view .project-desc h4:first-child {
        width: 180px;
    }
    .detailed-view .project-desc .project-desc-container h4 {
        width: 100%;
    }
    .project-desc-container {
        width: 400px;
    }
    .project-swiper .swiper-container.gallery-top .swiper-wrapper {
        bottom: -45px;
    }
    .project-extended-description .container {
        border-bottom: none;
    }
    .social-page .container {
        border-top: 1px solid #dddddd;
    }
    .project-desc .project-client {
        border-bottom: none;
    }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
    main .container,
    .social-page .container,
    .see-also .container {
        width: 540px;
    }
    .repair-published .published {
        margin-left: 100px;
    }
    .project-swiper:after {
        width: 260px;
        height: 260px;
        bottom: 90px;
        left: 280px;
        border: 12px solid #ededed;
    }
    .project-swiper .swiper-container.gallery-top .detailed-view-btn,
    .vertical-social {
        display: none;
    }
    .project-swiper .swiper-container.gallery-top {
        height: 360px;
    }
    .project-swiper .swiper-container.gallery-top .swiper-wrapper {
        bottom: -125px;
    }
    .area-client {
        display: flex;
        width: 100%;
        padding: 3px 0;
        border-bottom: 1px solid #dddddd;
    }
    .project-desc .project-area,
    .project-desc .project-client {
        width: 130px;
        border-bottom: none;
        padding: 0;
    }
    .project-desc .project-client {
        margin-left: 50px;
    }
    .price-material-period {
        width: 100%;
        border-bottom: 1px solid #dddddd;
    }
    .btn-see-review {
        margin: 15px auto 0;
    }
    .project-extended-description .container {
        padding-left: 0;
    }
    .project-extended-description h2 {
        margin-left: 35px;
    }
    .social-page .container {
        display: flex;
        flex-wrap: wrap;
    }
    .social {
        width: 100%;
        padding-bottom: 15px;
        border-bottom: 1px solid #dddddd;
    }
    .page {
        margin-left: 15px;
        width: 100%;
        padding-top: 15px;
        justify-content: space-between;
    }
    .see-also {
        padding: 30px 0 25px;
    }
    .see-also h5 {
        padding-bottom: 0;
    }
    .also-project-item {
        width: 170px;
        height: 240px;
        padding: 15px 10px;
    }
    .also-project-item:hover {
        width: 195px;
        height: 260px;
        padding: 25px 20px;
    }
    .also-project-item h4 {
        font-size: 12px;
        line-height: 12px;
    }
    .also-project-item img {
        width: 150px;
    }
    .also-project-item:hover img {
        bottom: 40px;
    }
    .contacts-service {
        margin-top: 0;
    }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
    .page-path {
        display: none;
    }
    .repair-published .container {
        justify-content: space-between;
    }
    .repair-published .published {
        margin-left: 0;
    }
    .repair-published .published span:first-child {
        display: none;
    }
    main .container, .social-page .container, .see-also .container {
        width: 90%;
    }
    .project-swiper {
        height: 255px;
    }
    .project-swiper .swiper-container.gallery-top {
        height: 210px;
    }
    .project-swiper .swiper-container.gallery-top .swiper-wrapper {
        bottom: -275px;
    }
    .project-swiper .swiper-container.gallery-top .swiper-button-next, .project-swiper .swiper-container.gallery-top .swiper-button-prev {
        top: 62px;
    }
    .project-swiper:after {
        display: none;
    }
    .project-swiper .swiper-container.gallery-thumbs .swiper-wrapper .swiper-slide {
        width: 60px !important;
        height: 40px !important;
        margin-right: 15px !important;
    }
    .project-swiper .swiper-container.gallery-thumbs .swiper-wrapper .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .project-desc h4 {
        border-top: none;
        font-size: 15.5px;
        line-height: 18px;
    }
    .project-desc .project-area p:last-child span {
        font-size: 22px;
    }
    .project-desc .project-area p:last-child {
        padding: 4px 4px 4px 6px;
    }
    .project-extended-description .container {
        padding-top: 55px;
        padding-bottom: 50px;
    }
    .project-extended-description h2 {
        font-size: 18px;
        line-height: 17px;
        padding-bottom: 30px;
    }
    .project-extended-description h4 {
        font-size: 15px;
    }
    .project-extended-description .project-done-list {
        padding-top: 20px;
        flex-direction: column;
    }
    .project-extended-description .project-done-list ul {
        width: 100%;
    }
    .project-extended-description .project-done-list ul li {
        padding: 0 0 18px 35px;
    }
    .project-extended-description .project-done-list ul li::before {
        width: 28px;
        height: 28px;
        background-size: contain;
    } 
    .project-extended-description h6 {
        margin-top: 10px;
        padding: 25px 30px;
    }
    .project-extended-description p:nth-child(5) {
        padding-top: 25px;
    }
    .social{
        flex-wrap: wrap;
    }
    .social p {
        width: 100%;
        padding-bottom: 12px;
    }
    .page,
    .page .next-page {
        margin: 0;
    }
    .page .prev-page, .page .next-page {
        background-color: transparent;
    }
    .page .prev-page::before, .page .next-page::after {
        width: 17px;
    }
    .page .prev-page {
        padding-left: 25px;
    }
    .page .prev-page::after,
    .page .next-page::before {
        position: absolute;
        display: block;
        content: '';
        width: 9px;
        height: 9px;
        background: #000;
        border-radius: 50%;
    }
    .page .prev-page::after {
        left: -5px;
    }
    .page .next-page::before {
        right: -5px;
    }
    .see-also h5 {
        font-size: 22px;
    }
    .also-project-list {
        padding-top: 30px;
        height: auto;
    }
    .also-project-list {
        flex-direction: column;
        justify-content: center;
    }
    .also-project-item,
    .also-project-item:hover {
        width: 300px;
        height: 300px;
        padding: 25px 15px 15px;
        margin-bottom: 12px;
    }
    .also-project-item h4 {
        font-size: 14px;
        line-height: 14px;
    }
    .also-project-item img,
    .also-project-item:hover img {
        bottom: 15px;
        width: 270px;
    }
    .form-callback {
        padding-bottom: 20px;
    }
    .project-swiper .swiper-container.gallery-thumbs .swiper-slide.swiper-slide-thumb-active, .project-swiper .swiper-container.gallery-thumbs .swiper-slide.swiper-slide-thumb-active:hover {
        padding: 1px;
        border: 2px solid #d52437;
    }
    .project-swiper .swiper-container.gallery-thumbs .swiper-wrapper .swiper-slide {
        padding: 1px;
    }
    .project-swiper-desc .container {
        margin: 0;
        width: 100%;
    }
    .project-desc {
        width: 90%;
        margin: -15px auto 0 auto;
    }
    .project-swiper .swiper-container.gallery-thumbs {
        padding-left: 20px;
    }
    .page .prev-page, .page .next-page {
        letter-spacing: 0.4em;
    }
    .page .prev-page::before {
        left: 0;
    }
    .page .next-page {
        padding-right: 15px;
    }
    .page .next-page::after {
        right: 0;
    }
    .page .prev-page::after {
        left: 8px;
    }
    .page .next-page::before {
        right: 8px;
    }
}